<!DOCTYPE html>
<html>
<head>
	<title>404 page</title>
</head>
<body>
	<div class="page-not-found">
		<h1>404</h1>
	</div>

	<p id="help">Hay lien he voi chung toi <strong>Chung toi se ho tro cac ban.</strong></p>
</body>
</html>